header {
  display: flex;
  min-height: 46px;
  align-items: center;
  padding-inline: 24px;
  justify-content: space-between;
  background-color: aquamarine;
}

header .left-side,
header .right-side {
  display: flex;
  gap: 14px;
  align-items: center;
}
