* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products-bag-wrap {
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
}

.bag-amount {
    display: flex;
    max-width: 1460px;
    justify-content: space-between;
    padding-inline: 10px;
    margin: auto;
    margin-top: 45px;
}

@media (max-width: 955px) {
    .product {
        flex-direction: column;
        gap: 20px;
    }

    .product-img {
        width: 200px;
        height: 200px;
    }

    .product-name {
        text-align: center;
    }

    .bag-amount h1 {
        line-height: 30px;
    }
    
}
