.search-wrap {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 5px;
    height: 40px;
    background-color: white;
    border: 1px solid grey;
    gap: 7px;
}

.search-trap-hover {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

.search-input {
    border: none;
    outline: none;
    transition: all 1s;
    visibility: hidden;
    width: 0px;
    height: 30px;
}

.search-wrap:hover .search-input {
    visibility: visible;
    width: 290px;
}


.search-wrap:hover .search-trap-hover {
    background-color: rgb(20, 20, 20);
}

.second-section .search-wrap {
    display: none;
}

@keyframes searchAnimation {
    from {
        width: 0px;
    }

    to {
        width: 190px;
    }
}

@media (max-width: 1300px) {

    .right-side .search-wrap {
        display: none;
    }

    .second-section .search-wrap {
        display: flex;
    }

    .search-wrap {
        width: 100%;
    }

    .input-wrap {
        width: calc(100% - 50px);
    }
}

